body {
  font-family: "Montserrat", sans-serif;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.card-dropdown {
  /* position: relative; */
  z-index: -10;
}

.slider-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  width: 9.77px;
  height: 9.77px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
}

.slider-dot.active {
  background-color: white;
  width: 37.47px;
  height: 9.77px;
  border-radius: 114.4px;
}

.slider {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-position {
  position: absolute;
  z-index: 10;
  left: 95px;
  top: 21px;
}

.blog-color:hover {
  color: #982A90;
}

q::after {
  display: none;
}