body {
  font-family: "Montserrat", sans-serif;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.card-dropdown {
  /* position: relative; */
  z-index: -10;
}

.slider-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  width: 9.77px;
  height: 9.77px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
}

.slider-dot.active {
  background-color: white;
  width: 37.47px;
  height: 9.77px;
  border-radius: 114.4px;
}

.slider {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-position {
  position: absolute;
  z-index: 10;
  left: 95px;
  /* top: 21px; */
  top: -1px;
}

.dropdown-position:hover,
.dropdown-position:focus {
  display: block;
}


.blog-color:hover {
  color: #982A90;
}

q::after {
  display: none;
}

/* .walure-ml {
  margin-left: 166px;
} */

.walure-footer {
  display: none;
}

@media screen and (max-width: 1440px) {
  .walure-ml {
    margin-left: 166px;
  }

  .walure-tag {
    margin-left: 116px;
    margin-top: 107px;

  }
}

@media screen and (max-width: 1024px) {
  .walure-ml {
    margin-left: 100px;
  }

  .walure-tag {
    margin-left: 50px;
    margin-top: 107px;
    font-size: 2rem;


  }
}

@media screen and (max-width: 320px) {
  .walure-ml {
    margin-left: 15px;
    margin-right: 15px;
  }

  .walure-tag {
    margin-left: 20px;
    margin-top: 107px;
    font-size: 12px !important;


  }

  .walure-tag p {
    font-size: 11px;
  }

  .sitemap-web,
  .contact-web {
    display: none;
  }

  .walure-footer {
    display: flex;
    gap: 10px;

  }
}

/* .walure-tag {
    margin-left: 150px;
    margin-top: 107px;

  } */

.walure-text {
  text-align: left;
}